{% extends 'base.html' %}
{% load static %}
{% block title %} Contact {% endblock title %}
{% block content %}

<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header justify-content-center"><h3 class="font-weight-light my-4">Change Password</h3></div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="small mb-1" for="inputPassword">Password</label><input class="form-control py-4" id="inputPassword" type="password" placeholder="Enter Old password" name="password" required />
                            </div>
                            <div class="form-group">
                                <label class="small mb-1" for="inputNewPassword">New Password</label><input class="form-control py-4" id="inputNewPassword" type="password" placeholder="Enter New password" name="new_password" required/>
                            </div>
                            <div class="form-group">
                                <label class="small mb-1" for="inputrepeatPassword">New Password Again</label><input class="form-control py-4" id="inputrepeatPassword" type="password" placeholder="Enter password again" name="new_password_again" required />
                            </div>

                            <div class="form-group d-flex align-items-center                justify-content-between mt-4 mb-0">
                                <a class="btn btn-primary btn-block" href="#">
                                    <button type="submit" class="btn btn-primary btn-block">
                                        Update Password
                                    </button>
                                </a>
                            </div>
                            {% if messages %}
                            {% for mess in messages %}
                            <p>
                                <code class="text-danger"> {{mess}} </code>
                            </p>
                            {% endfor %}
                            {%endif%}

                            {% if success %}
                            <p>
                                <code class="text-success"> {{success}} </code>
                            </p>
                            {% endif %}
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>

{% endblock content %}