{% extends 'component/Login/base.html' %}
{% block title %}SIGN IN{% endblock title %}
{% block content %}

<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header justify-content-center"><h3 class="font-weight-light my-4">SIGN IN</h3></div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-group"><label class="small mb-1" for="inputEmailAddress">Email</label><input class="form-control py-4" id="inputEmailAddress" type="email" placeholder="Enter email address" name="email"/></div>
                            <div class="form-group"><label class="small mb-1" for="inputPassword">Password</label><input class="form-control py-4" id="inputPassword" type="password" placeholder="Enter password" name="password" /></div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox"><input class="custom-control-input" id="rememberPasswordCheck" type="checkbox" /><label class="custom-control-label" for="rememberPasswordCheck">Remember password</label></div>
                            </div>
                            <div class="form-group d-flex align-items-center                justify-content-between mt-4 mb-0">
                                <a class="btn btn-primary btn-block" href="#">
                                    <button type="submit" class="btn btn-primary btn-block">
                                        SIGN IN
                                    </button>
                                </a>
                            </div>
                            {% if messages %}
                            {% for mess in messages %}
                            <p>
                                <code class="text-danger"> {{mess}} </code>
                            </p>
                            {% endfor %}
                            {%endif%}
                        </form>
                    </div>



                    <div class="card-footer text-center">
                        <div class="small"><a href="{% url 'singup' %}">Need an account? Sign up!</a></div>
                    </div>


                    
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}


